/* reseting the page settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



/* darkening the web body */
body {
    background: black;
}

/* making all images of the page black and white */
img {
    filter:         url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    -moz-filter:    grayscale(100%);
    -ms-filter:     grayscale(100%);
    -o-filter:      grayscale(100%);
    filter: gray; 
}

/* web scroll bar modifications */
::-webkit-scrollbar {
    width: 15px;
    background: #1a1a1a;   
}
::-webkit-scrollbar-corner {
    background-color: #333333;
}
::-webkit-scrollbar-thumb {
    border: 2px solid #1a1a1a;
    background: #282828;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}



/* flex content */
#container {
    display: flex;
    flex-wrap: wrap;
}



/* All boxes */
#menu {
    height: 100vh;
    width: 500px;
    min-width: 320px;
    max-width: 500px;
    min-height: 568px;
    flex-grow: 1;
    background: #252525;
}
#user_picture {
    height: 100vh;
    min-height: 568px;
    min-width: 320px;
    max-width: 500px;
    flex-grow: 1;
    background: #333333;
}
#user_cv {
    height: 100vh;
    min-height: 568px;
    min-width: 320px;
    max-width: 500px;
    flex-grow: 1;
    background: #000000;
}
#user_content {
    height: 100vh;
    min-height: 568px;
    width: 25%;
    min-width: 320px;
    flex-grow: 2;
    background: #fff;
}



/* first Box */
.centralized {
    width: 380px;
    margin: 80px auto;
}
.centralized img {
    width: 100%;
}
.underline {
    width: 100%;
    height: 3px;
    background: #888;
    margin: 20px 0;
}
.search_box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search_box button {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 37px;
    border: none;
    background: #fff;
}
.search_box img {
    width: 20px;
    height: 20px;
    margin: 5px 20px;
}
.search_box input {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: none;
    width: 100%;
    padding: 8px;
    font-size: 18px;
}
.users_count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555;
    margin: 40px 0;
    letter-spacing: .05em;
}
.users_count img{
    width: 26px;
}
.users_count label span {
    margin-left: 10px;
    letter-spacing: .05em;
}
.users_list{
    width: 100%;
    height: 80%;
    min-height: 300px;
    max-height: 600px;
    background: #252525;
    border: 1px solid #1a1a1a;
    border-radius: 5px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}
.user_choice {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #888;
    margin-top: 20px;
    border-bottom: 2px solid #1a1a1a;
    letter-spacing: .05em;
    padding: 10px;
    margin: 20px;
    animation: .3s;
}
.user_choice:hover {
    background: #1a1a1a;
    cursor: pointer;
    transition: all 0.4s;
    border-radius: 5px;
}
.user_choice h3 {
    font-size: 14px;
    font-weight: normal;
}
.user_choice h2 {
    font-weight: normal;
}
.user_choice img {
    width: 80px;  
}

.star_lista img{
    width: 24px;
    display: inline;
    margin-top: 10px;
    opacity: .3;
}
.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.perfil img {
    width: 80px;
    margin-bottom: 5px;
}
.perfil img:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter:    grayscale(0%);
    -ms-filter:     grayscale(0%);
    -o-filter:      grayscale(0%);
    filter: none;
    cursor: pointer;
    transition: all 0.4s;
}
.perfil p,h3 {
    font-weight: normal;
    color: #888;
}
.perfil p {
    margin-top: 5px;
}



/* second box */
#user_picture h1 {
    font-weight: normal;
    color: #b3b3b3;
    font-size: 56px;
}
#user_picture h2 {
    font-weight: normal;
    color: #b3b3b3;
    font-size: 36px;
    text-align: center;
    margin-top: 40px;
}

#user_picture img {
    margin-top: 100px;
}
#user_picture img:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter:    grayscale(0%);
    -ms-filter:     grayscale(0%);
    -o-filter:      grayscale(0%);
    filter: none;
    cursor: pointer;
    transition: all 0.4s;
}
#underline_picture {
    margin-top: 65px;
}





